.adminbody {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  color: #131212;
  scroll-behavior: unset;
  margin-left: -1px;
}
.contantBody {
  padding-top: 65px;
}
.badgeButton {
  width: 20%;

  border: none;
  text-align: left;
  color: #2dd4bf;
  border-radius: 0%;
  background-color: #f5f5f5;
  padding-bottom: 20px;
  padding-top: 10px;
}
.side-content-div {

  padding-top: -30px;
}
.badge {
  padding: 10px;
}
.admincar-img {
  width: 85%;
  height: 100vh;
}
.drive-what {
  margin-top: 20px;
  color: #694b4b;
}
.mr-left {
  margin-left: 20%;
}
.head-contant {
  font-weight: 700;
}
.chart {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notification-content {
  text-align: center;
}
.drive-what-is {
  font-weight: 900;
  font-style: italic;
}
.charts {
  background-color: #f5f5f5;
}
@media (max-width: 1028px) {
  .admincar-img {
    display: none;
  }
  .drive-what-is {
    display: none;
  }
}
@media (min-width: 1028px) {
  .bars-wraper {
    margin-left: 20%;
  }
  
}
